* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

div {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

div:nth-of-type(1) {
     background-image: url(img/widok1.jpg);
     
     left: 0;
}

 div:nth-of-type(2) {
    background-image: url(img/widok2.jpg);
    height: 50vh;
}

div:nth-of-type(3) {
    background-image: url(img/swiatla.jpg);
    height: 50vh;
}

div:nth-of-type(4) {
    background-image: url(img/widok1.jpg);
    height: 100vh;
} 
 
section {
    width: 100%;
    left: 0;
    background-color: grey;
}

section:nth-of-type(1) {
    height: 50vh;
}

section:nth-of-type(2) {
    height: 50vh;
}


section:nth-of-type(3) {
    height: 50vh;
}


p {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 20px 0;
}

div p {
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 25px;
    z-index: 2;
}

section p {
    text-transform: none;
    padding: 5px 0 5px;
}

p.title {
    font-size: 45px;
}

@media (max-width: 1200px ) {
    p {
        font-size: 20px;
    }
}

@media (max-width: 750px ) {
    p {
        font-size: 18px;
    }
}

@media (max-width: 600px ) {
    p.title {
        font-size: 35px;
    }
}

@media (max-width: 500px ) {
    p {
        font-size: 15px;
    }
}

@media (max-width: 480px ) {
    p {
        font-size: 13px;
    }
}